@font-face {
    font-family: 'dynapuffregular';
    src: url('dynapuff-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('dynapuff-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}